<%= simple_form_for(@order) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <!--<%= f.input :forname %>
    <%= f.input :street %>
    <%= f.input :city %>
    <%= f.input :zip %>-->
    <%= f.input :email %>
    <%= f.input :mobile, :label => 'Handynummer' %>
		<%= f.select :order_type, ['Zum Mitnehmen', 'Vorbestellung'] %>
		<%= f.input :pickup_time, :label => "Wann willst du vorbei kommen?"  %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Kostenpflichtig bestellen', :class => "btn btn-success pull-left my-button" %>
  </div>
<% end %>
