<%= simple_form_for(@order) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :forname, :label => 'Vorname' %>
    <%= f.input :street, :label => 'Straße' %>
    <%= f.input :city, :label => 'Stadt' %>
    <%= f.input :zip, :label => 'Postleitzahl' %>
    <%= f.input :email %>
    <%= f.input :mobile, :label => 'Handynummer' %>
		<%= f.select :order_type, ['Liefern', 'Zum Mitnehmen', 'Vorbestellung'] %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Kostenpflichtig bestellen', :class => "btn btn-success" %>
  </div>
<% end %>
