<div>Ihre Bestellung</div> <table>
<% @cart.line_items.each do |item| %> <tr>
<td><%= item.quantity %>&times;</td>
<td><%= item.product.title %></td>
<td> je <%= number_to_currency(item.product.price, :unit => "€") %>€ = </td>
<td ><%= number_to_currency(item.total_price , :unit => "€") %></td>
</tr> <% end %>
<tr>
<td colspan="2">Total</td>
<td><%= number_to_currency(@cart.total_price, :unit => "€") %></td>
  </tr>
</table>
<%= button_to "Bestellung aufgeben", new_order_path, :method => :get, :class => "btn btn-success pull-left my-button"%>
<%= button_to 'Warenkorb leeren', @cart, :method => :delete, :confirm => 'Are you sure?', :class => "btn btn-danger pull-left my-button" %>