<%= link_to "Mc Gyros", root_path, :class => 'brand' %>
<ul class="nav">
  <% if user_signed_in? %>
    <li>
    <%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %>
    </li>
  <% end %>
  <% if user_signed_in? %>
    <li>
    <%= link_to 'Edit account', edit_user_registration_path %>
    </li>
    <% if current_user.has_role? :admin %>
      <li>
      <%= link_to 'Admin', users_path %>
      </li>
      <li>
      <%= link_to 'Karte', products_path %>
      </li>
    <% end %>
  <% end %>
	
	<% active_categories.each do |c| %>
		<li> <%= link_to c.name, list_path(:id => c.id)%></li>
	<% end %>

</ul>
<ul class="nav pull-right">
	<li>
		<%= link_to 'Warenkorb', current_cart%>
	</li>
</ul>
