<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Bar Central" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Mobil Order" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body class="<%= controller_name %> <%= action_name %>">
		<div data-role="page" id="page1" data-theme="x">
			<div data-theme="x" data-role="header">
				<!-- <img src='http://src.sencha.io/http://www.barcentral-bamberg.de/wp-content/uploads/2013/02/0188-logo.png' alt='Logo' class="logo-image"	/>-->
				<h3>McGyros</h3>
			</div>
		  <%= render 'layouts/navigation' %>   
    <div id="main_mobil" role="main">
      <div class="container">
		    <div data-role="content">
          <%= render 'layouts/messages' %>
          <%= yield %>
		    </div>
			    <div data-theme="x" data-role="footer">
						<h5><%= link_to 'Impressum', static_imprint_path, :data => {:role => "none"}%></h5>
			    </div>
       </div><!--! end of .container -->
      </div> <!--! end of #main -->
    </div> 
  </body>
</html>




    
</div>